<!DOCTYPE html>
{% load static %}
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Techminds</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'img/favicon/favicon.ico'%}"
    />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/css/core.css' %}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{% static 'vendor/css/theme-default.css' %}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'vendor/libs/apex-charts/apex-charts.css' %}"
    />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'js/config.js' %}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-primary"
        >
          <div class="app-brand demo">
            <a href="{% url 'dashboard' %}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <svg
                  width="25"
                  viewBox="0 0 25 42"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g
                    id="g-app-brand"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <g
                      id="Brand-Logo"
                      transform="translate(-27.000000, -15.000000)"
                    >
                      <g id="Icon" transform="translate(27.000000, 15.000000)">
                        <g id="Mask" transform="translate(0.000000, 8.000000)">
                          <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                          </mask>
                          <use fill="#696cff" xlink:href="#path-1"></use>
                          <g id="Path-3" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-3"></use>
                            <use
                              fill-opacity="0.2"
                              fill="#FFFFFF"
                              xlink:href="#path-3"
                            ></use>
                          </g>
                          <g id="Path-4" mask="url(#mask-2)">
                            <use fill="#696cff" xlink:href="#path-4"></use>
                            <use
                              fill-opacity="0.2"
                              fill="#FFFFFF"
                              xlink:href="#path-4"
                            ></use>
                          </g>
                        </g>
                        <g
                          id="Triangle"
                          transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                        >
                          <use fill="#696cff" xlink:href="#path-5"></use>
                          <use
                            fill-opacity="0.2"
                            fill="#FFFFFF"
                            xlink:href="#path-5"
                          ></use>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </span>
              <span class="app-brand-text demo menu-text fw-bolder ms-2"
                >Warehouse</span
              >
            </a>

            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none"
            >
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item active">
              <a href="{%url 'dashboard'%}" class="menu-link bg-success  card">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Home</div>
              </a>
            </li>
            <ul class="menu-inner py-1">
              <!-- Dashboard -->
              <li class="menu-item active ">
                <a href="{% url 'Issue' %}" class="menu-link bg-secondary">
                  <i class="menu-icon tf-icons bx bx-box"></i>
                  <div data-i18n="Analytics">Issue stocks</div>
                </a>
              </li>
              <li class="menu-item active ">
                <a
                  href="http://127.0.0.1:8000/admin/management_system/client/add/"
                  class="menu-link bg-info"
                >
                  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                  <div data-i18n="Analytics">Add Clients</div>
                </a>
              </li>
              <li class="menu-item active ">
                <a
                  href="http://127.0.0.1:8000/admin/management_system/project_type/add/"
                  class="menu-link bg-info"
                >
                  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                  <div data-i18n="Analytics">Add Project types</div>
                </a>
              </li>
              <li class="menu-item active ">
                <a
                  href="http://127.0.0.1:8000/admin/management_system/project/add/"
                  class="menu-link bg-info"
                >
                  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                  <div data-i18n="Analytics">Add Project</div>
                </a>
              </li>
              <li class="menu-item active">
                <a
                  href="http://127.0.0.1:8000/admin/management_system/description/add/"
                  class="menu-link bg-info"
                >
                  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                  <div data-i18n="Analytics">Add description</div>
                </a>
              </li>
              <li class="menu-item active ">
                <a
                  href="http://127.0.0.1:8000/admin/management_system/purchase_order/add/"
                  class="menu-link bg-info"
                >
                  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                  <div data-i18n="Analytics">Add PO</div>
                </a>
              </li>
              <li class="menu-item active ">
                <a
                  href="http://127.0.0.1:8000/admin/management_system/goods_received/add/"
                  class="menu-link bg-info"
                >
                  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                  <div data-i18n="Analytics">Add goods</div>
                </a>
              </li>
            </ul>
            <!-- Layouts -->
          </ul>
        </aside>
        <!-- / Menu -->
        <!-- Layout container -->

        <div class="layout-page">
          <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
              <div
                class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
              >
                <a
                  class="nav-item nav-link px-0 me-xl-4"
                  href="javascript:void(0)"
                >
                  <i class="bx bx-menu bx-sm"></i>
                </a>
              </div>
              <img src="{% static 'img/Techminds-logo.png'%}" alt="Logo" />
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard'%}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'Logout' %}" class="nav-link card bg-primary">
                      <div data-i18n="Analytics">Logout</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Page content goes here -->
          <div class="m-5">
            <div class="container align-self-center p-xxl-4">
              {% comment %} <div class="card row position-fixed p-xxl-4">
                {% for client in objects%}
                <h3>{{client.client.name}}</h2>
                {% endfor%}
                <button
                        type="button"
                        class="btn btn-secondary m-1"
                        data-dismiss="modal"
                      >Close</button>
              </div> {% endcomment %}
            </div>
            {% for client in objects%}

            
            <a href="capex?client_id={{client.client.id}}"><h2 style="color:green" >{{client.client.name}}<hr></h2></a>
            {% for po in client.ob_pos%}
            <a href="capex?po_id={{po.po.id}}"><h4><span style="color:black">PO: </span>{{po.po.purchase_ID}}</h4></a>
            <table class="table ">
              <thead >
                <tr class="bg-info">
                  <th>Type</th>
                  <th>Material</th>
                  <th>Packaging</th>
                  <th>Recieved</th>
                  <th>Capex</th>
                  <th>Company</th>
                  <th>Quantity</th>
                  <th>Remaining</th>
                  <th>Date</th>
                <tr>
              </thead>
              <tbody>
                {% for type in po.ob_types%}
                {% for good in type.ob_goods%}
                {% for iss in good.capex%}  
                {% if forloop.first%}     
                <tr class="">
                  <td>{{type.type.name}}</td>
                  <td>{{good.good.description.Description}}</td>
                  <td>{{good.good.description.Packaging}}</td>
                  <td>{{good.good.Quantity}}</td>
                  <td>{{iss.Carpex}}</td>
                  <td>{{iss.company}}</td>
                  <td>{{iss.Quantity}}</td>
                  <td>{{iss.remaining}}</td>
                  <td>{{iss.date}}</td>
                </tr>
                {% else%}
                <tr class="">
                  <td>__</td>
                  <td>__</td>
                  <td>__</td>
                  <td>__</td>
                  <td>{{iss.Carpex}}</td>
                  <td>{{iss.company}}</td>
                  <td>{{iss.Quantity}}</td>
                  <td>{{iss.remaining}}</td>
                  <td>{{iss.date}}</td>
                </tr>
                {% endif%}
                {% endfor%}
                {% endfor %}
                {% endfor%}
              </tbody>
            </table>
            <hr /><br>
            {% endfor%}
            {% endfor%}
          </div>
          <!-- Content wrapper -->
          <div class="buy-now position-fixed bottom-0 mb-2  align-self-center">
            <button class="btn btn-success buy-now" onclick="download()">
              <i class="fas fa-download"></i>
               Download
            </button>
          </div>
        </div>
        <!-- / Layout page -->
      </div>
      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    {% if message%}

    <script> alert('{{ message|escapejs }}')</script>
    {% endif%}
    <script>
      function download(){
        var currentURL = window.location.href;
        if(currentURL.includes("?")){
        url=currentURL + "&download=Download"
        }
        else{
          alert("Please specify a Client")
        }
        window.location.href=url
        handleDownloadComplete();
      }
      // Function to redirect the user to the previous URL
function redirectToPreviousURL() {
  window.location.href = document.referrer; // Redirect to the previous URL
}

// Function to handle the download completion event
function handleDownloadComplete() {
  // Add event listener to detect when the download is complete
  // This is a simplified example; you may need more specific code depending on how you trigger the download
  document.addEventListener('click', function (event) {
      if (event.target.tagName === 'A') {
          // Check if the clicked element is a link
          var downloadURL = event.target.getAttribute('href');
          if (downloadURL) {
              // The clicked link is a download link
              // You can add additional checks based on your specific implementation
              // For simplicity, we assume that the click triggers a download
              redirectToPreviousURL(); // Redirect after the download is complete
          }
      }
  });
}

// Call the function to handle download completion


    </script>
    <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{%static 'vendor/libs/apex-charts/apexcharts.js'%}"></script>

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/stockview.js' %}"></script>
    <script src="{% static 'js/capexout.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'js/dashboards-analytics.js'%}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    {% comment %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% endcomment %}
  </body>
</html>
